:root{
    --mainlight:rgb();
    --secondarylight:rgb();
    --accentlight:rgb();
    --maindark:rgb();
    --secondarydark:rgb(41,41,41);
    --accentdark:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;

}
body{
    background-color:rgba(255, 255, 255, 0.5);
}
header{
    height:1000px;
}
button{
    font-weight:1000;
}
#navbar{
    font-weight:900;
    z-index:3;
    top:0;
    position:sticky;
    display: flex;
    justify-content: space-between;
    height:65px;
    width:100vw;
    background-image: linear-gradient(rgb(26, 26, 26),rgb(81, 81, 81),transparent);
}
#menubtn{
    transition: .5s;
    border:none;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin:10%;
    /*background-color:var(--accentdark);*/
    border-radius:5px;   
    background-color: beige;
}
#menubtn:hover{
    cursor: pointer;
    box-shadow: -1px 5px 50px black;
    scale:90%;
    border-radius:10px;
}
#menubtn:active{
    box-shadow: -1px 5px 100px black;
    scale:85%;
}
.right ul{
    transform: translate(0%,100%);
}
.right li{
    display: inline-block;
    transition:.3s;
}
.right a{
    transform: translate(25%,25%);
    color:var(--accentdark);
    transition:.3s;
    margin-left:20px;
    margin-right:20px;
}
.right li:hover {
    box-shadow: -1px 5px 50px black;
    scale:110%;
    transform: translate(0px,-2px);
    background-color:rgba(0, 0, 0, 0.2);
}
.right li:active{
    box-shadow: -1px 5px 100px black;
    scale:100%;
}
#footer{
    position: fixed;
    display:inline-block;
    color:red;
    background-color:var(--secondarydark);
    height:25vh;
    min-width: 100vw;
    max-width:100vw;
    left:-50%;
    box-shadow: -10px 0px 25px black;
}

#headerimg{
    position: absolute;
    top:0%;
    height:90vh;
    width:100vw;
    object-fit: cover;
}
.right,.left{
    margin-left:5%;
    margin-right:5%;
}
.mainh{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease-out;
    z-index:2;
    font-weight:900;
    font-size: 400%;
    color:var(--accentdark);
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:15px;
    min-width: min-content;
    max-width: max-content;
    
}
.mainh:hover{
    color:rgb(245, 242, 236);
    box-shadow:0px 0px 200px black;
    background-color:rgba(0, 0, 0, 0);
}

content-wrapper{ 
    background-color:var(--accentdark);
}

.cardGrid{
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: black;
    height:100vw;
    width:100vw; 
}
.card{
    transition:.3s;
    justify-content: space-around;
    width:45%;
    height: 45%;
    background-color: white;
    border-radius:40px;
    border:solid rgba(0, 0, 0,.5) 5px;
}
.card:hover{
    transform:scale(105%);
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.4);
}
#box{
    
}
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100vw;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 100s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index:2;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
img:hover{
    transition:50s;
    transform:scale(2);
}
*{
}
div {
    clear: both;
}




//anims
//anim1
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*phone screen*/
@media only screen and (max-width:650px){
    header .mainh{
        font-size:300%;
    }

    .right a{
    margin-left:.75rem;
    margin-right:.75rem;
    }


}
//small laptopl screen
@media only screen and (min-width:651px) and (max-width:899px){
header .mainh{
    font-size: 400%;
}
    
}
/*laptop screen*/
@media only screen and (min-width:900px){
    header .mainh{
    font-size: 500%;
}

}
