:root{
    --mainlight:rgb();
    --secondarylight:rgb();
    --accentlight:rgb();
    --maindark:rgb();
    --secondarydark:rgb(41,41,41);
    --accentdark:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;

}
body{
    background-color:rgb(119, 119, 119,.5);
}
header{
    height:1000px;
}
button{
    font-weight:1000;
}
#navbar{
    font-weight:900;
    z-index:3;
    top:0;
    position:sticky;
    display: flex;
    justify-content: space-between;
    height:65px;
    width:100vw;
    background-image: linear-gradient(rgb(26, 26, 26),rgb(81, 81, 81),transparent);
}
#menubtn{
    transition: .5s;
    border:none;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin:10%;
    /*background-color:var(--accentdark);*/
    border-radius:5px;   
    background-color: beige;
}
#menubtn:hover{
    cursor: pointer;
    box-shadow: -1px 5px 50px black;
    scale:90%;
    border-radius:10px;
}
#menubtn:active{
    box-shadow: -1px 5px 100px black;
    scale:85%;
}
.right ul{
    transform: translate(0%,100%);
}
.right li{
    display: inline-block;
    transition:.3s;
}
.right a{
    transform: translate(25%,25%);
    color:var(--accentdark);
    transition:.3s;
    margin-left:20px;
    margin-right:20px;
}
.right li:hover {
    box-shadow: -1px 5px 50px black;
    scale:110%;
    transform: translate(0px,-2px);
    background-color:rgba(0, 0, 0, 0.2);
}
.right li:active{
    box-shadow: -1px 5px 100px black;
    scale:100%;
}
#footer{
    position: fixed;
    display:inline-block;
    color:red;
    background-color:var(--secondarydark);
    height:25vh;
    min-width: 100vw;
    max-width:100vw;
    left:-50%;
    box-shadow: -10px 0px 25px black;
}

#headerimg{
    position: absolute;
    top:0%;
    height:90vh;
    width:100vw;
    object-fit: cover;
}
.right,.left{
    margin-left:5%;
    margin-right:5%;
}
.mainh{
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease-out;
    z-index:2;
    font-weight:900;
    font-size: 450%;
    color:var(--accentdark);
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:15px;
    min-width: min-content;
    max-width: max-content;
    
}
.mainh:hover{
    color:rgb(245, 242, 236);
    box-shadow:0px 0px 200px black;
    background-color:rgba(0, 0, 0, 0);
}

content-wrapper{ 
    background-color:var(--accentdark);
}

.cardGrid{
    transform: translate(50%);
    display:grid;
    flex-direction:column;
    row-gap:10px;
    column-gap: 10px;
    background-color: black;
    height:100px;
    width:100px;
    
}

.card{
    transition:.3s;
    height: 40vw;
    width: 50vw;
    background-color: white;
    border-radius:40px ;
}
.card:hover{
    width:55vw;
    height:55vh;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.4);
}
#box{
    
}














/*phone screen*/
@media only screen and (max-width:650px){
    header .mainh{
        font-size:350%;
    }

    .right a{
    margin-left:.75rem;
    margin-right:.75rem;
    }


}
/*laptop screen*/
@media only screen and (min-width:600px){
    
}
